<section>
    <h2>results</h2>
    <div id="results">
        <p id="metric-similarity">Similarity: {{similarity}}%</p>
        <p id="metric-sharedwords">Number of shared words: {{sharedWords}}/{{totalWords}}</p>
        <p id="metric-sharedchars">Number of shared characters: {{sharedChars}}/{{totalChars}}</p>

        <p><a href="/"> Back to main page </a></p>
    </div>
</section>