<section class="userpage">
    <div class="wrapper">
        <h3> Welcome {{{name}}}!</h3>
        <br/>
        <p> Bio: {{{bio}}}</p>

        <br/>

        <a href="/remove/{{id}}" data-method="delete" >Clear ALL History</a>

        <br/><br/>

        {{#each FileHistory}}
        <div class="results">
            <p> File 1: {{{this.fileName1}}}</h3>
            <p> File 2: {{{this.fileName2}}}</h3>
            <p> Similarity: {{this.similarityPercent}}%</p>
            <p> Number of shared words: {{this.sharedWords}}/{{this.totalWords}}</p>
            <p> Number of shared characters: {{this.sharedChars}}/{{this.totalChars}}</p>
            <p> {{{this.timestamp}}} </p>
            <a href="/remove/{{this.id}}/{{this.cId}}" data-method="delete" >Remove from History</a>

        </div>
        <br/>

        {{/each}}

        <p><a href="/"> Back to main page </a></p>
    </div>
    <script>
        (function() {

        var laravel = {
            initialize: function() {
            this.methodLinks = $('a[data-method]');

            this.registerEvents();
            },

            registerEvents: function() {
            this.methodLinks.on('click', this.handleMethod);
            },

            handleMethod: function(e) {
            var link = $(this);
            var httpMethod = link.data('method').toUpperCase();
            var form;

            // If the data-method attribute is not PUT or DELETE,
            // then we don't know what to do. Just ignore.
            if ( $.inArray(httpMethod, ['PUT', 'DELETE']) === - 1 ) {
                return;
            }

            // Allow user to optionally provide data-confirm="Are you sure?"
            if ( link.data('confirm') ) {
                if ( ! laravel.verifyConfirm(link) ) {
                return false;
                }
            }

            form = laravel.createForm(link);
            form.submit();

            e.preventDefault();
            },

            verifyConfirm: function(link) {
            return confirm(link.data('confirm'));
            },

            createForm: function(link) {
            var form = 
            $('<form>', {
                'method': 'POST',
                'action': link.attr('href')
            });

            var token = 
            $('<input>', {
                'type': 'hidden',
                'name': 'csrf_token',
                'value': '<?php echo csrf_token(); ?>' // hmmmm...
                });

            var hiddenInput =
            $('<input>', {
                'name': '_method',
                'type': 'hidden',
                'value': link.data('method')
            });

            return form.append(token, hiddenInput)
                        .appendTo('body');
            }
        };

        laravel.initialize();

        })();        
    </script>
</section>