<section class="userpage">
    <div class="wrapper">
        <h3> Welcome {{{name}}}!</h3>
        <br/>
        <p> Bio: {{{bio}}}</p>

        <br/>

        {{#each FileHistory}}
        <div class="results">
            <p> File 1: {{{this.fileName1}}}</h3>
            <p> File 2: {{{this.fileName2}}}</h3>
            <p> Similarity: {{this.similarityPercent}}%</p>
            <p> Number of shared words: {{this.sharedWords}}/{{this.totalWords}}</p>
            <p> Number of shared characters: {{this.sharedChars}}/{{this.totalChars}}</p>
        </div>
        <br/>

        {{/each}}

        <p><a href="/"> Back to main page </a></p>
    </div>
</section>